
.dashboard {
  background: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.overview {
  margin-top: 3rem;
  text-align: left;
  width: 90%;
  max-width: 500px;
}

.title {
  margin: 0 0 1rem 0;
}

.about {
  margin: 1rem 0;
}

.tech {
  margin: 1rem 0;
}

.code {
  margin: 1rem 0;
}

.overview svg {
  font-size: 2rem;
  color: var(--text-color);
}

.dashboard button {
  background: var(--text-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}